<h5 class="heading mt-3">いいねしたユーザー</h5>
<% if post.liked_users.blank? %>
   <p>この投稿にいいねしたユーザーはまだいません</p>
<% end %>
<% post.liked_users.each do |user| %>
  <li><%= render "shared/user_link", user: user %></li>
<% end %>