@import "bootstrap";

.any_body{
  margin-top:30px;
}



//ヘッダー
header{
  background-color:#ff6600;
  height:60px;
  
  h1, a{
    color:white;
    margin: auto 10px;
  }
  h1{
    font-size: 1.5em;
  }
  
}
.links{
  background-color:#ff6600;
  z-index:50;
}


//エラーメッセージ
.alert{
  text-align:center;
}
.error{
  text-align: center;
  display: block;
  ul {
	padding-left: 0;
	display: inline-block;
}
  ul li {
	text-align: left;
}
}




//トップ画面

.row{
  display:flex;
  justify-content:space-between;
}


.card{
  .post-image{
      height: 250px;
  }
  
  li{
    list-style: none;
  }
  
  a{
    color:black;
    font-size:20px;
    text-decoration: none;
  }
  a:link { color: black; }
  a:visited { color: black; }
  a:hover { 
      color: black;
      text-decoration: none;
  }
  a:active { color: black; }
}

.skill-list{
  .pagination {
  display: none;
}
}

//会員登録・ログイン画面
.btn-user{
  margin-bottom:20px;
}


//詳細画面
.comment{
  background-color:#DDDDDD;
}
table{
  width: 100%;
  border-collapse: collapse;
}

table tr{
  border-bottom: solid 2px white;
}

table tr:last-child{
  border-bottom: none;
}

table th{
  position: relative;
  text-align: left;
  width: 30%;
  background-color: #ff6600;
  color: white;
  text-align: center;
  padding: 10px 0;
}

table th:after{
  display: block;
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  top:calc(50% - 10px);
  right:-10px;
  border-left: 10px solid #ff6600;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}

table td{
  text-align: left;
  width: 70%;
  text-align: center;
  background-color: #eee;
  padding: 10px 0;
}


.heading{
  padding-left: 0.5em;/*文字周りの余白*/
  color: #494949;/*文字色*/
  border-left: solid 5px #ff6600;/*左線（実線 太さ 色）*/
  border-bottom: dashed 3px #ff6600;
}

